@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-txt-primary: var(--txt-primary);
  --color-txt-secondary: var(--txt-secondary);
  --color-btn: var(--btn);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  /* Fonts  */
  --font-roboto: var(--roboto);
  --font-poppins: var(--poppins);
}

:root {
  --primary: #2563eb;
  --secondary: #4338ca;
  --txt-primary: #111827;
  --txt-secondary: #6b7280;
  --btn: #d4402b;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
  --dark: #173575;

  /* Fonts */
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
}
.container {
  @apply mx-auto px-3 lg:px-0;
}
.frm-ctr {
  @apply flex flex-col items-center justify-center px-5 py-3 w-full outline-0 bg-gray-100 rounded-md;
}
.collum {
  @apply flex flex-col w-full text-left mb-5;
}

.middle {
  @apply flex flex-col items-center justify-center w-full h-screen;
}
.min-hight {
  @apply min-h-[calc(100vh-468px)];
}
/* Button type css start  */
.btn {
  @apply flex items-center justify-center px-4 py-2 text-sm lg:text-base cursor-pointer font-medium duration-300;
}
.btn-filled {
  @apply bg-btn text-white rounded-md shadow-sm hover:bg-primary focus:outline-none;
}
.btn-outlined {
  @apply border border-btn text-btn rounded-md shadow-sm hover:bg-btn hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
}
/* Button type css end  */
/* Desktop navbar css start  */
.desk-nav ul li a {
  @apply text-txt-primary text-sm lg:text-base font-medium px-4 py-3.5 hover:text-primary duration-300 hover:border-b-2 hover:border-btn;
}
.desk-nav ul li a.active {
  @apply text-primary border-b-2 border-btn;
}
.user-nav {
  @apply bg-primary text-white cursor-pointer hover:bg-btn duration-300 flex items-center justify-center w-10 h-10 rounded-full;
}

.user-nav-container {
  @apply absolute top-12 w-[280px] bg-white p-5 drop-shadow-lg rounded-lg duration-500 z-50 flex flex-col space-y-5;
}
.user-nav-container.open {
  @apply right-0;
}
.user-nav-container ul li a {
  @apply py-1.5 block hover:text-primary duration-300;
}
.user-nav-container ul li a.active {
  @apply text-primary;
}
/* Desktop navbar css end  */

/* Mobile navbar css start */
.mbl-nav {
  @apply w-[280px] fixed top-14 -left-[300px] bg-primary h-screen duration-500 z-50;
}
.mbl-nav ul li a {
  @apply text-white px-5 py-3.5 text-sm duration-300 hover:bg-secondary block;
}
.mbl-nav ul li a.active {
  @apply bg-secondary;
}
.mbl-nav.open {
  @apply left-0;
}
/* Mobile navbar css end */

/* Heading and title css start  */
.heading {
  @apply text-txt-primary text-2xl lg:text-3xl font-semibold font-poppins;
}
/* Heading and title css end  */
.mt {
  @apply mt-10 md:mt-14 lg:mt-20;
}
.hero-title {
  @apply text-3xl md:text-4xl lg:text-6xl font-bold;
}
.hero-sub-title {
  @apply text-xl md:text-2xl font-semibold mt-6;
}
.social-btn {
  @apply flex justify-center items-center p-3 bg-primary text-white rounded-full text-xl hover:bg-txt-primary duration-300 cursor-pointer;
}
.ps-submenu-content.ps-open.css-18unl23 {
  @apply bg-white/30;
}

a.ps-menu-button.ps-open,
.css-16jesut > .ps-menu-button:hover,
.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: var(--primary) !important;
  @apply duration-300;
}

a.ps-menu-button.active,
a.ps-menu-button:hover {
  background-color: #5688f5 !important;
}
.sm-w {
  @apply w-24 md:w-28;
}
.dash-title {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold font-poppins mx-auto text-center;
}
