@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-txt-primary: var(--txt-primary);
  --color-txt-secondary: var(--txt-secondary);
  --color-btn: var(--btn);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
}

:root {
  --primary: #2563eb;
  --secondary: #4338ca;
  --txt-primary: #111827;
  --txt-secondary: #6b7280;
  --btn: #d4402b;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
}
.container {
  @apply mx-auto px-3 lg:px-0;
}
.frm-ctr {
  @apply flex flex-col items-center justify-center px-5 py-3 w-full;
}
.collum {
  @apply flex flex-col w-full;
}

.middle {
  @apply flex flex-col items-center justify-center w-full h-screen;
}
.min-hight {
  @apply min-h-screen;
}
/* Button type css start  */
.btn {
  @apply flex items-center justify-center px-4 py-2 text-sm lg:text-base font-medium duration-300;
}
.btn-filled {
  @apply bg-btn text-white rounded-md shadow-sm hover:bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
}
.btn-outlined {
  @apply border border-btn text-btn rounded-md shadow-sm hover:bg-btn hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
}
/* Button type css end  */
/* Desktop navbar css start  */
.desk-nav ul li a {
  @apply text-txt-primary text-sm lg:text-base font-medium px-4 py-3.5 hover:text-primary duration-300 hover:border-b-2 hover:border-btn;
}
.desk-nav ul li a.active {
  @apply text-primary border-b-2 border-btn;
}
.user-nav {
  @apply bg-primary text-white cursor-pointer hover:bg-btn duration-300 flex items-center justify-center w-10 h-10 rounded-full;
}
.user-nav-container {
  @apply absolute top-12 w-[280px] bg-white p-5 drop-shadow-lg rounded-lg duration-500 z-50;
}
.user-nav-container.open {
  @apply right-0;
}
/* Desktop navbar css end  */
